@model MvcKutuphane.Models.Entity.TblYazar
@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("YazarGuncelle", "Yazar", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Yazar Id</label>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })            
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar Ad</label>
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })            
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar Soyad</label>
            @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar Detay</label>
            @Html.TextAreaFor(x => x.Detay, new { @class = "form-control" })
        </div>
        <button class="btn btn-warning">Yazar Bilgilerini Güncelle</button>
    </div>
}

