@using MvcKutuphane.Models.Entity
@model List<TblPersonel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Kategoriler</h2>

<table class="table table-bordered">
    <tr>
        <th>Personel Id</th>
        <th>Personel Ad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Personel</td>
            <td><a href="/Personel/PersonelSil/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/PersonelGetir/@item.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Kategori Ekleme</a>

